# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
codigo_esp/build/.bin_timestamp
codigo_esp/build/.ninja_deps
codigo_esp/build/.ninja_log
codigo_esp/build/app-flash_args
codigo_esp/build/bootloader-flash_args
codigo_esp/build/build.ninja
codigo_esp/build/cmake_install.cmake
codigo_esp/build/CMakeCache.txt
codigo_esp/build/compile_commands.json
codigo_esp/build/config.env
codigo_esp/build/flash_app_args
codigo_esp/build/flash_args
codigo_esp/build/flash_args.in
codigo_esp/build/flash_bootloader_args
codigo_esp/build/flash_project_args
codigo_esp/build/flasher_args.json
codigo_esp/build/kconfigs_projbuild.in
codigo_esp/build/kconfigs.in
codigo_esp/build/ldgen_libraries
codigo_esp/build/ldgen_libraries.in
codigo_esp/build/partition-table-flash_args
codigo_esp/build/project_description.json
codigo_esp/build/project_elf_src_esp32.c
codigo_esp/build/test.bin
codigo_esp/build/test.elf
codigo_esp/build/test.map
codigo_esp/build/x509_crt_bundle.S
codigo_esp/build/CMakeFiles/bootloader-complete
codigo_esp/build/CMakeFiles/clean_additional.cmake
codigo_esp/build/CMakeFiles/cmake.check_cache
codigo_esp/build/CMakeFiles/CMakeOutput.log
codigo_esp/build/CMakeFiles/rules.ninja
codigo_esp/build/CMakeFiles/TargetDirectories.txt
codigo_esp/build/CMakeFiles/3.24.0/CMakeASMCompiler.cmake
codigo_esp/build/CMakeFiles/3.24.0/CMakeCCompiler.cmake
codigo_esp/build/CMakeFiles/3.24.0/CMakeCXXCompiler.cmake
codigo_esp/build/CMakeFiles/3.24.0/CMakeDetermineCompilerABI_C.bin
codigo_esp/build/CMakeFiles/3.24.0/CMakeDetermineCompilerABI_CXX.bin
codigo_esp/build/CMakeFiles/3.24.0/CMakeSystem.cmake
codigo_esp/build/CMakeFiles/3.24.0/CompilerIdC/CMakeCCompilerId.c
codigo_esp/build/CMakeFiles/3.24.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
codigo_esp/build/CMakeFiles/CheckTypeSize/TIME_T_SIZE.bin
codigo_esp/build/CMakeFiles/CheckTypeSize/TIME_T_SIZE.c
codigo_esp/build/CMakeFiles/bootloader.dir/Labels.json
codigo_esp/build/CMakeFiles/bootloader.dir/Labels.txt
codigo_esp/build/CMakeFiles/git-data/grabRef.cmake
codigo_esp/build/CMakeFiles/git-data/HEAD
codigo_esp/build/CMakeFiles/git-data/head-ref
codigo_esp/build/bootloader/.bin_timestamp
codigo_esp/build/bootloader/.ninja_deps
codigo_esp/build/bootloader/.ninja_log
codigo_esp/build/bootloader/bootloader.bin
codigo_esp/build/bootloader/bootloader.elf
codigo_esp/build/bootloader/bootloader.map
codigo_esp/build/bootloader/build.ninja
codigo_esp/build/bootloader/cmake_install.cmake
codigo_esp/build/bootloader/CMakeCache.txt
codigo_esp/build/bootloader/compile_commands.json
codigo_esp/build/bootloader/config.env
codigo_esp/build/bootloader/kconfigs_projbuild.in
codigo_esp/build/bootloader/kconfigs.in
codigo_esp/build/bootloader/project_description.json
codigo_esp/build/bootloader/project_elf_src_esp32.c
codigo_esp/build/bootloader/CMakeFiles/clean_additional.cmake
codigo_esp/build/bootloader/CMakeFiles/cmake.check_cache
codigo_esp/build/bootloader/CMakeFiles/CMakeOutput.log
codigo_esp/build/bootloader/CMakeFiles/rules.ninja
codigo_esp/build/bootloader/CMakeFiles/TargetDirectories.txt
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CMakeASMCompiler.cmake
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CMakeCCompiler.cmake
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CMakeCXXCompiler.cmake
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CMakeDetermineCompilerABI_C.bin
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CMakeDetermineCompilerABI_CXX.bin
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CMakeSystem.cmake
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CompilerIdC/CMakeCCompilerId.c
codigo_esp/build/bootloader/CMakeFiles/3.24.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
codigo_esp/build/bootloader/CMakeFiles/CheckTypeSize/TIME_T_SIZE.bin
codigo_esp/build/bootloader/CMakeFiles/CheckTypeSize/TIME_T_SIZE.c
codigo_esp/build/bootloader/CMakeFiles/git-data/grabRef.cmake
codigo_esp/build/bootloader/CMakeFiles/git-data/HEAD
codigo_esp/build/bootloader/CMakeFiles/git-data/head-ref
codigo_esp/build/bootloader/config/kconfig_menus.json
codigo_esp/build/bootloader/config/sdkconfig.cmake
codigo_esp/build/bootloader/config/sdkconfig.h
codigo_esp/build/bootloader/config/sdkconfig.json
codigo_esp/build/bootloader/esp-idf/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/bootloader/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/bootloader_support/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/efuse/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/esp_app_format/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/esp_common/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/esp_hw_support/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/esp_hw_support/port/esp32/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/esp_rom/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/esp_system/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/esptool_py/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/freertos/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/hal/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/log/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/main/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/micro-ecc/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/newlib/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/partition_table/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/soc/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/spi_flash/cmake_install.cmake
codigo_esp/build/bootloader/esp-idf/xtensa/cmake_install.cmake
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-configure
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-done
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-download
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-install
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-mkdir
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-patch
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-source_dirinfo.txt
codigo_esp/build/bootloader-prefix/src/bootloader-stamp/bootloader-update
codigo_esp/build/bootloader-prefix/tmp/bootloader-cfgcmd.txt
codigo_esp/build/bootloader-prefix/tmp/bootloader-mkdirs.cmake
codigo_esp/build/config/kconfig_menus.json
codigo_esp/build/config/sdkconfig.cmake
codigo_esp/build/config/sdkconfig.h
codigo_esp/build/config/sdkconfig.json
codigo_esp/build/esp-idf/cmake_install.cmake
codigo_esp/build/esp-idf/app_trace/cmake_install.cmake
codigo_esp/build/esp-idf/app_update/cmake_install.cmake
codigo_esp/build/esp-idf/bootloader/bootloader-flash_args.in
codigo_esp/build/esp-idf/bootloader/cmake_install.cmake
codigo_esp/build/esp-idf/bootloader_support/cmake_install.cmake
codigo_esp/build/esp-idf/bt/cmake_install.cmake
codigo_esp/build/esp-idf/cmock/cmake_install.cmake
codigo_esp/build/esp-idf/console/cmake_install.cmake
codigo_esp/build/esp-idf/cxx/cmake_install.cmake
codigo_esp/build/esp-idf/driver/cmake_install.cmake
codigo_esp/build/esp-idf/efuse/cmake_install.cmake
codigo_esp/build/esp-idf/esp-tls/cmake_install.cmake
codigo_esp/build/esp-idf/esp_adc/cmake_install.cmake
codigo_esp/build/esp-idf/esp_app_format/cmake_install.cmake
codigo_esp/build/esp-idf/esp_coex/cmake_install.cmake
codigo_esp/build/esp-idf/esp_common/cmake_install.cmake
codigo_esp/build/esp-idf/esp_eth/cmake_install.cmake
codigo_esp/build/esp-idf/esp_event/cmake_install.cmake
codigo_esp/build/esp-idf/esp_gdbstub/cmake_install.cmake
codigo_esp/build/esp-idf/esp_hid/cmake_install.cmake
codigo_esp/build/esp-idf/esp_http_client/cmake_install.cmake
codigo_esp/build/esp-idf/esp_http_server/cmake_install.cmake
codigo_esp/build/esp-idf/esp_https_ota/cmake_install.cmake
codigo_esp/build/esp-idf/esp_https_server/cmake_install.cmake
codigo_esp/build/esp-idf/esp_hw_support/cmake_install.cmake
codigo_esp/build/esp-idf/esp_hw_support/port/esp32/cmake_install.cmake
codigo_esp/build/esp-idf/esp_lcd/cmake_install.cmake
codigo_esp/build/esp-idf/esp_local_ctrl/cmake_install.cmake
codigo_esp/build/esp-idf/esp_mm/cmake_install.cmake
codigo_esp/build/esp-idf/esp_netif/cmake_install.cmake
codigo_esp/build/esp-idf/esp_netif_stack/cmake_install.cmake
codigo_esp/build/esp-idf/esp_partition/cmake_install.cmake
codigo_esp/build/esp-idf/esp_phy/cmake_install.cmake
codigo_esp/build/esp-idf/esp_pm/cmake_install.cmake
codigo_esp/build/esp-idf/esp_psram/cmake_install.cmake
codigo_esp/build/esp-idf/esp_ringbuf/cmake_install.cmake
codigo_esp/build/esp-idf/esp_rom/cmake_install.cmake
codigo_esp/build/esp-idf/esp_system/cmake_install.cmake
codigo_esp/build/esp-idf/esp_system/ld/memory.ld
codigo_esp/build/esp-idf/esp_system/ld/sections.ld
codigo_esp/build/esp-idf/esp_system/port/cmake_install.cmake
codigo_esp/build/esp-idf/esp_system/port/soc/esp32/cmake_install.cmake
codigo_esp/build/esp-idf/esp_timer/cmake_install.cmake
codigo_esp/build/esp-idf/esp_wifi/cmake_install.cmake
codigo_esp/build/esp-idf/espcoredump/cmake_install.cmake
codigo_esp/build/esp-idf/esptool_py/app-flash_args.in
codigo_esp/build/esp-idf/esptool_py/cmake_install.cmake
codigo_esp/build/esp-idf/esptool_py/flasher_args.json.in
codigo_esp/build/esp-idf/fatfs/cmake_install.cmake
codigo_esp/build/esp-idf/freertos/cmake_install.cmake
codigo_esp/build/esp-idf/hal/cmake_install.cmake
codigo_esp/build/esp-idf/heap/cmake_install.cmake
codigo_esp/build/esp-idf/http_parser/cmake_install.cmake
codigo_esp/build/esp-idf/idf_test/cmake_install.cmake
codigo_esp/build/esp-idf/ieee802154/cmake_install.cmake
codigo_esp/build/esp-idf/json/cmake_install.cmake
codigo_esp/build/esp-idf/log/cmake_install.cmake
codigo_esp/build/esp-idf/lwip/cmake_install.cmake
codigo_esp/build/esp-idf/main/cmake_install.cmake
codigo_esp/build/esp-idf/mbedtls/cmake_install.cmake
codigo_esp/build/esp-idf/mbedtls/x509_crt_bundle
codigo_esp/build/esp-idf/mbedtls/mbedtls/cmake_install.cmake
codigo_esp/build/esp-idf/mbedtls/mbedtls/3rdparty/cmake_install.cmake
codigo_esp/build/esp-idf/mbedtls/mbedtls/include/cmake_install.cmake
codigo_esp/build/esp-idf/mbedtls/mbedtls/library/cmake_install.cmake
codigo_esp/build/esp-idf/mbedtls/mbedtls/library/error.c
codigo_esp/build/esp-idf/mbedtls/mbedtls/library/psa_crypto_driver_wrappers.c
codigo_esp/build/esp-idf/mbedtls/mbedtls/library/ssl_debug_helpers_generated.c
codigo_esp/build/esp-idf/mbedtls/mbedtls/library/version_features.c
codigo_esp/build/esp-idf/mqtt/cmake_install.cmake
codigo_esp/build/esp-idf/newlib/cmake_install.cmake
codigo_esp/build/esp-idf/newlib/port/cmake_install.cmake
codigo_esp/build/esp-idf/nvs_flash/cmake_install.cmake
codigo_esp/build/esp-idf/openthread/cmake_install.cmake
codigo_esp/build/esp-idf/partition_table/cmake_install.cmake
codigo_esp/build/esp-idf/partition_table/partition-table-flash_args.in
codigo_esp/build/esp-idf/perfmon/cmake_install.cmake
codigo_esp/build/esp-idf/protobuf-c/cmake_install.cmake
codigo_esp/build/esp-idf/protocomm/cmake_install.cmake
codigo_esp/build/esp-idf/pthread/cmake_install.cmake
codigo_esp/build/esp-idf/sdmmc/cmake_install.cmake
codigo_esp/build/esp-idf/soc/cmake_install.cmake
codigo_esp/build/esp-idf/spi_flash/cmake_install.cmake
codigo_esp/build/esp-idf/spiffs/cmake_install.cmake
codigo_esp/build/esp-idf/tcp_transport/cmake_install.cmake
codigo_esp/build/esp-idf/ulp/cmake_install.cmake
codigo_esp/build/esp-idf/unity/cmake_install.cmake
codigo_esp/build/esp-idf/usb/cmake_install.cmake
codigo_esp/build/esp-idf/vfs/cmake_install.cmake
codigo_esp/build/esp-idf/wear_levelling/cmake_install.cmake
codigo_esp/build/esp-idf/wifi_provisioning/cmake_install.cmake
codigo_esp/build/esp-idf/wpa_supplicant/cmake_install.cmake
codigo_esp/build/esp-idf/xtensa/cmake_install.cmake
codigo_esp/build/partition_table/partition-table.bin
.vscode/settings.json
codigo_esp/.vscode/settings.json
.gitignore
credenciales.txt
codigo_rasp/test.py
